<html>
<body>
<h1> {{ title }} </h1>
<p> customer name: {{ cont.Name }}</p>
<p> Iban: {{ cont.Iban }}</p>
<p> Expiration: {{ cont.Expiration }}</p>
<p> IdentityPhoto: <img src="{{cont.IdentityPhoto}}"/></p>

</body>
</html>